.modalLogin {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.8);
   display: none;
}

.modalLogin__content {
   background-color: #4d4d4d;
   border-radius: 16px;
   width: 300px;
   height: 200px;
   padding: 25px;
}

.modalLogin.active {
   display: flex;
   justify-content: center;
   align-items: center;
}


