body {
   background: rgb(38, 38, 38);
   color: white;
}

.header {
   display: flex;
   justify-content: space-around;
   height: 150px;
}

.header__menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 450px;
   font-size: 20px;
   margin-right: 50px;
}

.header__logo {
   display: flex;
   align-items: center;
}

.header__logo img {
   width: 120px;
   height: 120px;
}

.header__menu a {
   color: white;
   text-decoration: none;
}

.header__menu a:hover {
   text-decoration: underline;
}

.footer {
   height: 50px;
}

.footer__words {
   display: flex;
   justify-content: center;
   align-items: center;
}

.search__sort {
   display: flex;
   justify-content: space-between;
}

.user {
   display: flex;
   justify-content: center;
   margin-top: 70px;
}

.user__content {
   margin-right: 100px;
}

.user__list {
   width: 550px;
   display: flex;
   padding: 7px;
   border: 1px solid white;
   border-radius: 10px;
   margin-top: 5px;
   justify-content: space-between;
   align-items: center;
}

.user__remove button {
   padding: 5px 15px;
   background: red;
   font-size: 14px;
   border: 1px solid red;
   border-radius: 10px;
   color: white;
   cursor: pointer;
}

.img img {
   width: 300px;
   height: 300px;
}

.user__CSStransition-enter {
   transform: translateX(-650px);
}
.user__CSStransition-enter-active {
   transform: translateX(0px);
   transition: all 1s ease-in;
}
.user__CSStransition-exit {
   opacity: 1;
}
.user__CSStransition-exit-active {
   transform: translateX(-650px);
   transition: all 1s ease-in;
}

.create {
   width: 90%;
   padding: 5px 15px;
   margin: 5px 0;
   border: 1px solid white;
   border-radius: 5px;
}

.button__img {
   border-radius: 40px;
   border: 1px solid #dfdfdf;
   background-color: #dfdfdf;
   cursor: pointer;
}

.button__img img {
   width: 40px;
   height: 40px;
}

.active {
   border-bottom: 3px solid white;
}
