.add__user {
   margin-left: 50px;
   width: 200px;
   height: 30px;
   border: 2px solid rgb(50, 160, 50);
   background: rgb(50, 160, 50);
   border-radius: 10px;
   font-family: "Roboto";
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   text-align: center;
   cursor: pointer;
}
